@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<div style="align-content:center;">
    <h3>1101110 CROSS-PLATFORM APPLICATION DEVELOPMENT MODULE</h3>
    <p>จัดทำโดย</p>
    <table border="0" width="300">
        <tr>
            <th>
                รหัสนักศึกษา
            </th>
            <th>
                ชื่อสมาชิก
            </th>
        </tr>

        <tr>
            <td>
                B6301149
            </td>
            <td>
                นายปุญญพัฒน์ สีหวงษ์
            </td>
        </tr>

        <tr>
            <td>
                B6320331
            </td>
            <td>
                นางสาวธนพร ใหญ่โสมานัง
            </td>
        </tr>

        <tr>
            <td>
                B6325138
            </td>
            <td>
                นางสาวญาดา ชนะชัย
            </td>
        </tr>
    </table>
 
</div>


